<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key><string>en</string>
  <key>CFBundleExecutable</key><string>DTAParquetPreview</string>
  <key>CFBundleIdentifier</key><string>io.github.dtaparquetquicklook.Preview</string>
  <key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
  <key>CFBundleName</key><string>DTA Parquet Preview</string>
  <key>CFBundlePackageType</key><string>XPC!</string>
  <key>CFBundleShortVersionString</key><string>0.3.0</string>
  <key>CFBundleVersion</key><string>4</string>
  <key>LSMinimumSystemVersion</key><string>12.0</string>
  <key>NSExtension</key>
  <dict>
    <key>NSExtensionAttributes</key>
    <dict>
      <key>QLIsDataBasedPreview</key><true/>
      <key>QLSupportedContentTypes</key>
      <array>
        <string>io.github.dtaparquetquicklook.stata-dta</string>
        <string>io.github.dtaparquetquicklook.apache-parquet</string>
        <string>dyn.ah62d4rv4ge80k7db</string>
        <string>dyn.ah62d4rv4ge81a2pwsf40n7a</string>
      </array>
      <key>QLSupportsSearchableItems</key><false/>
    </dict>
    <key>NSExtensionPointIdentifier</key><string>com.apple.quicklook.preview</string>
    <key>NSExtensionPrincipalClass</key><string>DTAParquetPreviewProvider</string>
  </dict>
</dict>
</plist>
